/* Global Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: rgb(72, 84, 191);
    line-height: 1.5; 
    font-size: 16px;
}

h1 {
    font-weight: 700;
    margin: 0;
    color: white;
    line-height: 1.25;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

h3, p{
    font-size: small;
    font-weight: 700;
    margin: 0;
    color: black;
    line-height: 1.5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.hero{
    padding: 3% 4%;
    background-color: darkslateblue;
    color: white;
    font-size: 3rem;
}


main {
    margin: 20px auto;
    width: 94%;
  }

.video {
    background-color: darkslateblue;
    padding: 10px; 
    overflow: hidden;
    font-size: medium;
    cursor: pointer;
    border-bottom: 2px dashed black;
    flex-direction: column;
}

.video:nth-child(even){
    background-color: rgb(141, 110, 203);
}

.video img {
    border-radius: 30%;
    border: 2px solid black ;
}

.video a{
float: left;
}

/* .info {
    flex-wrap: wrap;
    flex-direction: column;
} */

#search-results {
    flex-direction: column;
}

@media (max-width: 768px) {
    .video { 
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .video {
        flex-direction: column;
    } 
}

#playlistname {
    text-transform: uppercase;
}